
<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

        <title>Smart Container : WISU 200821 0 Detail</title>
        <link rel="stylesheet" type="text/css" href="static/css/detail.css">
        <script src="container.js" type="text/javascript"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    </head>

    <body>
        <div class="detail">
            <h1>WISU 200821 0</h1>
            <hr>
            <div class="door">
                <h3>· 문개폐</h3>
                <table class="detail_tb">
                    <tr><th>관리자</th><th>날짜</th><th>시간</th><th>내용</th></tr>
                    <tr><td>홍길동</td><td>20/01/12</td><td>17:00</td><td>OPEN</td></tr>
                    <tr><td>홍길동</td><td>20/01/12</td><td>17:23</td><td>CLOSE</td></tr>
                    <tr><td>홍길동</td><td>20/01/21</td><td>14:20</td><td>OPEN</td></tr>
                    <tr><td>홍길동</td><td>20/01/21</td><td>14:33</td><td>OPEN</td></tr>
                </table>
            </div>
        </div>
    </body>
</html>
